In [1]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [7]:
df2.head()

      HPI  Int_rate  US_GDP_Thousands
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [2]:
df1.head()

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55

In [4]:
df3.head()

      HPI  Low_tier_HPI  Unemployment
2001   80            50             7
2002   85            52             8
2003   88            50             9
2004   85            53             6

In [6]:
# Merging df1 and df3
# We have HPI common in both of dataframe
print(pd.merge(df1,df3,on='HPI'))

   HPI  Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
0   80         2                50            50             7
1   85         3                55            52             8
2   85         3                55            53             6
3   85         2                55            52             8
4   85         2                55            53             6
5   88         2                65            50             9

In [11]:
# Merging df1 and df2 on 'HPI'
print(pd.merge(df1,df2,on=['HPI','Int_rate']))

# Notice here there are two versions of the US_GDP_Thousands. 
# This is because we didn't share on these columns, so both are retained, with another letter to differentiate

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [13]:
df4 = pd.merge(df1,df3,on='HPI')
df4.set_index('HPI',inplace=True)
print(df4)

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9

In [14]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

joined = df1.join(df3)
print(joined)

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9